.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card {
  background-color: #f4faff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #171f46;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #64748b;
}
